@model BookTracker.Models.AddEditCategoryTypeViewModel

<h4>Category Type</h4>
<div>
    <a href="@Url.Action("Index", "CategoryType")" class="btn btn-primary btn-sm">
        <i class="fa fa-angle-left"></i>
        <span style="font-weight:bold; text-transform:uppercase;">
            Back To Category Types
        </span>
    </a>
</div>

<div class="row">
    
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" style="margin-bottom:15px; margin-top:15px;" />
            </div>
        </form>
    </div>
</div>


